.side_bar
  .tag_info
    .right_info 
      .current_info
        Test
        %ul.member_list
          Member :
          %li.member
    .rogout_tag   
      .rogout_btn 
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'    


          